{% extends "layout.html" %} {% block content %}

<div class="wallpaper">
  <div class="mask position relative">
    <div class="position-absolute top-50 start-50 translate-middle">
      <div class="card" style="width: 15rem; background-color: rgba(255, 255, 255, 0.1); color: whitesmoke;">
        <img src="{{ url_for('static', filename='images/Foto_documento.JPG')}}" class="card-img-top
        alt="...">
        <div class="card-body">
          <h5 class="card-title">Mechanical Engineer</h5>
          <p class="card-text">
            Universidad industrial de santander - Colombia
          </p>
          <a href="/aboutme" class="btn btn-dark">About me</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
