{% extends "layout.html" %} {% block content %}

<div class="wallpaper">
  <div class="mask position relative">
    <div class="position-absolute top-50 start-50 translate-middle">
      <div class="card mb-3 card1">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ url_for('static',filename='images/Foto_documento.JPG')}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body" style="text-align: center;">
              <h1 class="card-title fst-italic">Sebastian Pinto Lopez</h1>
              <h2 class="fst-italic text-decoration-underline">Mechanical engineer</h2>
              <img src="{{ url_for('static',filename='images/LOGO UIS_PNG.png')}}" alt="" style="height: 70px;"><br>
              <h6 style="color: gray;">Universidad Industrial de Santander - Colombia</h6>
              <a href="/aboutme" class="btn btn-dark">About me</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}